/* Le switch */
#darkmod-label {
  width: 100px;
  height: 50px;
  position: relative;
  display: flex;
  background: #005528;
  border-radius: 100px;
  box-shadow: inset 0 5px 15px rgba(0,0,0,0.4),
              inset 0 -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
  transition: 0.5s;
}

/* Le rond intérieur */
#darkmod-label::after {
  content: "";
  width: 45px;
  height: 45px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d3/Soccerball.svg');
  background-size: cover;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  border-radius: 50%;
  transition: transform 0.5s ease, left 0.5s ease;
}

/* Cacher le checkbox */
#darkmode-toggle {
  display: none;
}

/* Mode sombre activé */
#darkmode-toggle:checked + #darkmod-label {
  background: #1c2e54;
}

/* L’animation du rond en mode sombre */
#darkmode-toggle:checked + #darkmod-label::after {
  left: 50px;
  transform: rotate(360deg);
}

/* Couleur de fond de la page en mode sombre */
body.dark {
  background: linear-gradient(180deg, #1c2e54, #020407);
}